<div>
  <% @groups.each do |group| %>
    <% if group.user == current_user %>
      <div>
        <%= link_to group.title, user_group_path(current_user,group.id) %>
        <%= link_to "Edit", edit_user_group_path(current_user,group.id) %>
        <%= link_to "Delete", user_group_path(current_user,group.id), method: :delete, data: {confirm: 'Are you sure?'} %>
      </div>
    <% end %>
  <% end %>
</div>
<div>
  <%= link_to "Create Group", new_user_group_path(current_user.id) %>
</div>
