$body_background: #fffdf4;
$menu_background: #fdfddd;
$table_alt: #f4f4f4;

* {
	box-sizing: border-box;
}

html {
  height: 100%;
}

body {
 	height: 100%;
  font-family: sans-serif;
  background: $body_background;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
	width: 100%;
  min-width: 800px;
}

.content {
	padding: 0 0 0 1em;
}

.pure-menu {
	background: $menu_background;
	height: 100vh;
}

.button-success {
		background: rgb(28, 184, 65); /* this is a green */
		color: white !important;
}

.button-error {
		background: rgb(202, 60, 60); /* this is a maroon */
		color: white !important;
}

.button-warning {
		background: rgb(223, 117, 20); /* this is an orange */
		color: white !important;
}

.button-primary {
		background: rgb(52, 78, 226); /* this is a light blue */
		color: white !important;
}

.button-secondary {
		background: rgb(66, 184, 221); /* this is a light blue */
		color: white !important;
}

.notice-area {
	height: 25px;
	background: pink;
	font-size: 0.5em;
	padding-left: 10px;
}

table tr:nth-child(2n) {
	background: $table_alt;
}
